{{ define "title" }} Welcome To Drove {{ end }}

{{ define "styles" }}
<style>
    .portfolio ul, .loans ul {
        max-width: 70%;
        list-style-type: none;
    }
    .portfolio ul li, .loans ul li {
     padding: 10px 5px;
     background-color: darkslateblue;
     /* border-bottom: 1px soild darkslateblue;
     box-shadow: 0 2px 3px rgba(0, 0 ,0 ,0.8);    */
    }

    table {
        border: 1px solid silver;
        padding: 10px;
    }

    th {
        border: 1px solid silver;
    }
    td, th {
        padding: 5px 15px;
        border-right: 1px solid silver;  
    }
</style>
{{ end }}

{{ define "content" }}
<h1> Drove </h1>

<div class="portfolio mb-4">
    <h3>Portfolio positions </h3>
    <table id="portfolio">
        <tr>
            <th>Symbol</th>
            <th>Total Quantity</th>
            <th>Equity Value ($)</th>
            <th>Price Per Share ($)</th>
        </tr>
    </table>
</div>

<div class="loans mb-4">
    <h3>Loans</h3>
    <table id="loans">
        <tr>
            <th>Amount</th>
            <th>Duration</th>
            <th>Outstanding</th>
        </tr>
    </table>
</div>
{{ end }}

{{ define "scripts" }}
<script>
    const token = localStorage.getItem('token')
    const options = {
        method: 'GET',
        headers: {
            'Accept': 'application/json',
            'Authorization': `Bearer ${token}`
        }
    }
    fetch('/api/v1/portfolio/', options).
        then(resp => resp.json()).
        then(({data, status, message}) => {
            console.log(data)
            if ( status !== 'success') {
                console.log(message)
                return
            }
           const portfolioTbl = document.querySelector('#portfolio')
           data.forEach(el => {
                const tr = document.createElement('tr')
                const {symbol, total_quantity, equity_value, price_per_share} =  el
                tr.innerHTML = `
                    <td>${symbol}</td>
                    <td>${total_quantity}</td>
                    <td>${equity_value}</td>
                    <td>${ price_per_share }</td>
                `
                portfolioTbl.appendChild(tr)
           })

        fetch('/api/v1/loans', options).
            then(resp => resp.json()).
            then(({data, status, message}) => {
                console.log(data)
                if ( status !== 'success') {
                    console.log(message)
                    return
                }
            const loansTbl = document.querySelector('#loans')
            data.forEach(el => {
                    const tr = document.createElement('tr')
                    const { amount, duration, paid_back } = el
                    tr.innerHTML = `
                        <td>${amount}</td>
                        <td>${duration} months</td>
                        <td>${amount - paid_back}</td>
                    `
                    loansTbl.appendChild(tr)
            })
        })
    })
</script>
{{ end }}