{{ define "title" }} Welcome To Drove {{ end }}

{{ define "styles" }}
<style>
    .portfolio ul, .loans ul {
        max-width: 70%;
        list-style-type: none;
    }
    .portfolio ul li, .loans ul li {
     padding: 10px 5px;
     border-bottom: 1px soild darkslateblue;
     box-shadow: 0 2px 3px rgba(0, 0 ,0 ,0.8);
    }

    table {
        border: 1px solid silver;
        padding: 10px;
    }

    th {
        border: 1px solid silver;
    }
    td, th {
        padding: 5px 15px;
        border-right: 1px solid silver;  
    }
</style>
{{ end }}

{{ define "content" }}
<h1> Drove </h1>

<div class="portfolio mb-4">
    <h3>Portfolio positions </h3>
    <table id="portfolio">
        <tr>
            <th>Symbol</th>
            <th>Total Quantity</th>
            <th>Equity Value ($)</th>
            <th>Price Per Share ($)</th>
        </tr>
    </table>
</div>

<div class="loans mb-4">
    <h3 class="mb-2">Loans</h3>
    <div class="mb-4">
        <h6>Apply for fresh loans.</h6>
        <form id="loan-form" class="w-50">
            <div class="form-group mb-2">
                <label for="amount">Amount</label>
                <input type="number" id="amount" class="form-control" name="amount">
            </div>
            <div class="form-group mb-2">
                <label for="duration">Duration</label>
                <select name="duration" id="duration" class="form-control">
                    <Option value="">---</Option>
                    <Option value="6">6 months</Option>
                    <Option value="7">7 months</Option>
                    <Option value="8">8 months</Option>
                    <Option value="9">9 months</Option>
                    <Option value="10">10 months</Option>
                    <Option value="11">11 months</Option>
                    <Option value="12">12 months</Option>
                </select>
            </div>
            <button class="btn btn-success">Apply for new loan</button>
        </form>
    </div>
    <div id="loans-container">
        <table id="loans">
            <tr>
                <th>Amount ($)</th>
                <th>Duration</th>
                <th>Next Installment ($)</th>
                <th>Due Date</th>
                <th>Outstanding ($)</th>
            </tr>
        </table>
    </div>
</div>
{{ end }}

{{ define "scripts" }}
<script>
    $.ajaxSetup({
       beforeSend: function(request) {
           request.setRequestHeader('Authorization', `Bearer ${TOKEN}`)
       },
   })
</script>
<script>
    const token = localStorage.getItem('token')
    const options = {
        method: 'GET',
        headers: {
            'Accept': 'application/json',
            'Authorization': `Bearer ${token}`
        }
    }
    fetch('/api/v1/portfolio/', options).
        then(resp => resp.json()).
        then(({data, status, message}) => {
            console.log(data)
            if ( status !== 'success') {
                console.log(message)
                return
            }
           const portfolioTbl = document.querySelector('#portfolio')
           data.forEach(el => {
                const tr = document.createElement('tr')
                const {symbol, total_quantity, equity_value, price_per_share} =  el
                tr.innerHTML = `
                    <td>${symbol}</td>
                    <td>${total_quantity}</td>
                    <td>${equity_value}</td>
                    <td>${ price_per_share }</td>
                `
                portfolioTbl.appendChild(tr)
           })

        fetch('/api/v1/loans', options).
            then(resp => resp.json()).
            then(({data, status, message}) => {
                console.log(data)
                if ( status !== 'success') {
                    console.log(message)
                    return
                }
            const loansTbl = document.querySelector('#loans')
            
            if (data.length < 1) {
                const $el = $('#loans-container')
                const $p = $('<p>')
                $p.text("You don't have any outstanding loans.")
                $el.append($p)
                return
            }

            data.forEach(el => {
                    const tr = document.createElement('tr')
                    const { amount, duration, due_date, next_payment_amount, paid_back } = el
                    tr.innerHTML = `
                        <td>${amount}</td>
                        <td>${duration} months</td>
                        <td>${next_payment_amount}</td>
                        <td>${new Date(due_date)}</td>
                        <td>${amount - paid_back}</td>
                    `
                    loansTbl.appendChild(tr)
            })
        })

        $('#loan-form').on('submit', ($evt) => {
            $evt.preventDefault()
            const $this = $($evt.target)
            console.log($this.serialize())
            $.post('/api/v1/loans', JSON.stringify({
                amount: parseFloat($('[name="amount"]').val()),
                duration: parseInt($('[name="duration"]').val()),
            })).done(({data, status})=> {
                console.log(data)
                const { amount, duration, due_date, next_payment_amount, paid_back } = data
                const $tr = $(`<tr>
                        <td>${amount}</td>
                        <td>${duration} months</td>
                        <td>${next_payment_amount}</td>
                        <td>${new Date(due_date)}</td>
                        <td>${amount - paid_back}</td>
                    </tr>`)
                    $(('#loans')).append($tr)
                console.log(data)
            }).fail(console.log)
        })
    })
</script>
{{ end }}