{{ define "title" }} Signup {{ end }}

{{ define "content" }}
<form id="form">
    <div class="form-group">
        <label for="first_name">First Name</label>
        <input class="form-control" type="text" id="first_name" name="first_name">
    </div>
    <div class="form-group">
        <label for="last_name">Last Name</label>
        <input class="form-control" type="text" id="last_name" name="last_name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password">
    </div>
    <div class="form-group">
        <label for="password2">Retype Password</label>
        <input class="form-control" type="password" id="password2" name="password2">
    </div>
    <p id="p-error"></p>

    <button class="btn btn-success" id="submit-btn">Sign up</button>
</form>
{{ end }}


{{ define "scripts" }}
<script>
    const form = document.querySelector("#form")
    form.addEventListener('submit', ($evt) => {
        $evt.preventDefault()
        const first_name = document.getElementsByName('first_name').item(0).value
        const last_name = document.getElementsByName('last_name').item(0).value
        const email = document.getElementsByName('email').item(0).value
        const password = document.getElementsByName('password').item(0).value
        const options = {
            method: 'POST',
            body: JSON.stringify({
                email,
                password,
                first_name,
                last_name,
            }),
            headers: {},
        }
        fetch('/api/v1/users', options).
           then(resp => resp.json()).
           then(({data, message, status}) => {
               if (status !== 'success') {
                   alert('an error occurred' + message)
                   return
               }
               location.href = '/login'
           }).
           catch(console.log)
    })
    const password = document.querySelector('[name="password"]')
    const password2 = document.querySelector('[name="password2"]')
    const pError = document.querySelector('#p-error')
    const submit = document.querySelector('#submit-btn')
    password2.addEventListener('input', ($evt) => {
       if ($evt.target.value !== password.value) {
            pError.innerHTML = '<small class="text-danger">Passwords do not match!!</small>'
            submit.setAttribute("disabled", "disabled")
       }else {
           pError.innerHTML = ''
           submit.removeAttribute("disabled")
       }
    })
</script>
{{ end }}